/.vscode
/1lightningdesignsystembasics.png
/2 trail.png
/2ND SUPERBADGE.docx
/apex database sobjects.png
/Apex specialist 1.docx
/Apex specialist 2.docx
/Apex specialist 3.docx
/apex-recipes
/assert basico.txt
/AutomateRecordCreation.apex
/AYUDA SOBRE TESTS.txt
/bike
/Business Process Specialist superbadge video scripts.docx
/CAMBIARCONTRASEÑA.txt
/ChildToParent
/CLI project
/Conceptos de busqueda.png
/consigna.py
/datatypes.txt
/Exercise Files
/First superbadge- formulas.pdf
/First superbadge.pdf
/fiu.png
/future methods.txt
/Hello World.txt
/hm.png
/implementos.apex
/ISV.png
/javascript.png
/LEDevelopment.png
/miprimeraclaseapexaww.txt
/New folder
/New Microsoft Word Document.docx
/Nota 2.png
/Nota.png
/Objetos y definiciones.png
/para poder clonar.png
/parks.xml
/Picklist.png
/ProyectoComponentes
/Resumen de los terminos mas utilizados.png
/SALESFORCE_PLATFORM_DEVELOPER_I_CERTIFICATION_GUIDE.pdf
/salesfrorce charla y recomendacinoes.txt
/sfdx-chan
/sfdx-maria
/Tercer trail
/toma de una.png
/VSCodeQuickstart
/ytroubleshoot
/~$D SUPERBADGE.docx
/~WRL3352.tmp